// === Variablen-Definitionen (LESS) === \\

@import "normalize.less";
@import "presets.less";


// Farben

@bgcolor: #fff;
@color: @darktextcolor;
@darktextcolor:#222;
@lighttextcolor:#eee;
@maincolordark2: #02243E;
@maincolordark1: #074574;
@maincolor: #0B65AA; 
@maincolorlight1: #3E84BA;
@maincolorlight2: #84B6DC;
//@maincolordark2: #07243B;
//@maincolordark1: #133552;
//@maincolor: #2A4F6E; 
//@maincolorlight1: #496C8A;
//@maincolorlight2: #6686A0;
@secondarycolordark2: #5C3705;
@secondarycolordark1: #7F5316;
@secondarycolor: #AA7A39; 
@secondarycolorlight1: #D5A86A;
@secondarycolorlight2: #F8D098;
@linkcolor:@maincolordark1;
@bordercolor: ;

// Größen

@fontsizevalue: 1.125;
@multiplier: 1.111;
@fontsize: (@fontsizevalue * 1rem);
@m-fontsizevalue: (@fontsizevalue * @multiplier);
@m-fontsize: (@m-fontsizevalue * 1rem);
@lineheight: 1.4444;
@vertical: (@fontsize * @lineheight);

@verticalem: (@fontsizevalue * 1em * @lineheight);
@pagewidth: 100%;
@inhaltpadding:1em;

// Schrift

@fontfamily: 'PT Sans', 'Liberation Sans', Helvetica, Arial, sans-serif;
@logofont:'Dosis', Helvetica, Arial, sans-serif;

// Media Queries

@m:'screen';
@w1:45em;
@w2:65em;
@w3:105em;
@w4:;
@w5:;
@w6:;
@w7:;

@m1:~"@{m} and (min-width:@{w1})";
@m2:~"@{m} and (min-width:@{w2})";
@m1-5:~"@{m} and (min-width:@{w1}) and (max-width:@{w5})";
@m2-5:~"@{m} and (min-width:@{w2}) and (max-width:@{w5})";
@m3-5:~"@{m} and (min-width:@{w3}) and (max-width:@{w5})";

@m3:~"@{m} and (min-width:@{w3})";
@s3:~"@{m} and (max-width:@{w3})";
@m4:~"@{m} and (min-width:@{w4})";
@m5:~"@{m} and (min-width:@{w5})";
@m6:~"@{m} and (min-width:@{w6})";
@m7:~"@{m} and (min-width:@{w7})";

/** 
 * Mixin für die Änderung der Zeilenhöhe. Korrespondiert mit der
 * Schriftgrößenänderung für body.
**/
.vertical(@property; @multi:1) {
	@{property}: (@vertical * @multi);
	@media @m2 {
		@{property}: (@vertical * @multiplier * @multi);
	}
}


// === Variablen Ende === \\

// === Global === \\

body {
	width:@pagewidth;
	margin:0 auto;
	.font();
	@media @m2 {
		.font(@m-fontsize);
	}
	background-color:@bgcolor;
	color:@color;
	.std-link();
}

p,ul,ol,dl,aside,section,article,h1,h3,h4,h5,h6,address,hr,main,table,iframe,header {
	.vertical(margin-bottom);
}

/* Bei h2 passt @vertical nicht. */

h2 {
	margin-bottom:1em;
}

a.skiplink {
	position:absolute;
	top:-4em;
	display:block;
	padding:.5em;
	background-color:@bgcolor;
	text-shadow:none;
	text-decoration:none;
	color:@color;
	.border-radius(0 0 3px 3px);
	.box-shadow();
	&:focus {
		top:0;
		outline:none;
	}
}

.std-link() {
	a {
		color:@linkcolor;
		text-decoration:none;
		.transition();
		&:hover, &:focus {
			color:@bgcolor;
			background-color:@linkcolor;
		}
	}
}

.no-effect {
	color:@color;
	.transition-full(none);
	&:hover, &:focus {
		color:inherit;
		background-color:inherit;
	}
}

img {
	max-width:100%;
}

abbr,acronym {
	cursor:help;
}

// === Global Ende === \\

// === Site-specific styles === \\

dt {
	font-style:italic;
}
dd {
	padding-left:2em;
	.vertical(margin-bottom);
}

.site-head {
	background-color:@maincolor;
	color:@lighttextcolor;
	.flex-cont();
	.justify(flex-end);
	a {
		.flex(0;1;auto;@gutWidth);
		color:inherit;
		&:hover, &:focus {
			color:inherit;
			background-color:transparent;
		}
	}
	h1, .tagline {
		font-family:@logofont;
		font-style:normal;
		text-align:right;
		text-shadow:0 1px 2px fadeout(@color, 10%);
		/*.flex(1;1;100%;@gutWidth);*/
		/* For -webkit- Syntax? */
		width:100%;
		/* Webfont FOUT */
		opacity:0;
	}
	h1 {
		.vertical(margin-top);
		font-size:@mega;
		line-height:@megaline;
		margin-bottom:0;
	}
	.tagline {
		font-size:@h2;
		line-height:@h2line;
		letter-spacing:.015em;
	}
}

		/* Webfont FOUT */
.wf-dosis-n3-active .site-head {
	h1, .tagline {
		opacity:1;
	}
}

main {
	.vertical(margin-top;-1);
	.flex-cont();
	@media @m2 {
		.justify(space-between);
	}
}

article h2, .sect-col {
	padding:0 @gutWidth;
}

article {
	.flex(1;0;100%);
	@media @m3 {
		.flex(0;0;75rem);
		margin-left:auto;
		margin-right:auto;
	}
}

.sect-col {
	& p:first-child::first-letter {
		.font((@fontsize * @lineheight);.7);
		@media @m2 {
			.font((@fontsize * @lineheight * @multiplier);.7);
		}
		font-weight:bold;
	}
	@media @m1 {
		padding: 0;
		.vertical(margin-bottom);
		.column-count();
		.column-gap(0);
		/* You have to set the multiplicator of @gutWidth in padding according
		 * to the column-count */
		& > * {
			padding:0 (2 * @gutWidth);
			/* columns produce unpredictable margins after the last element,
			 * so we cut it and do the margin on the container */
			&:last-child {
				margin-bottom:0;
			}
		}
	}
	@media @m2 {
		.column-count(3);
		& > * {
			padding:0 (3 * @gutWidth);
		}
	}
}

.short-content {
	@media @m1 {
		.column-count(1);
		width:75%;
		margin:0 auto;
		.vertical(margin-bottom);
		padding:0 @gutWidth;
		.sect-col& > * {
			padding:0; 
		}
	}
	@media @m2 {
		width:50%;
	}
}

.text-illustrate {
	display:block;
	margin:0 auto;
	.vertical(margin-bottom);
	padding:0 @gutWidth;
	@media @m1 {
		max-width:50%;
		.short-content & {
			max-width:100%;
		}
	}
}

.teaser {
	background-color:@maincolor;
	color:@lighttextcolor;
	.font(@h4,@h4line);
	.portrait {
		text-align:center;
		width:100%;
		.order(1);
	}
	p {
		padding:0 @gutWidth;
		@media @m1 {
			.flex(1;0;50%;@gutWidth);
			text-align:right;
			.order(1);
			&.portrait {
				.order(2);
				img {
					vertical-align:bottom;
				}
			}
		}
		@media @m2 {
			text-align:left;
			font-size:@h3;
			line-height:@h3line;
			.flex(0;1;50%;@gutWidth);
			&.portrait {
				.flex(0;1;(5/12*100%);@gutWidth);
				text-align:right;
			}
		}
	}
	nav {
		.order(3);
	}
}

.main-navi {
	.flex(1;1;100%;0);
	font-weight:bold;
	/* Set color for other pages than landing */
	background-color:@maincolor;
	ul {
		.flex-cont(0;no-wrap);
		justify-content:space-around;
	}
	li {
		.flex(1);
		margin:(@gutWidth);
		text-align:center;
	}
	a {
		color:@lighttextcolor;
		display:inline-block;
		padding:0.5em .2em;
		width:auto;
		height:100%;
		&:focus, &:active {
			outline:none;
		}
	}
	.fa {
		font-size: (1.5 * @fontsize);
		line-height:(@lineheight / 1.5);
		display:block;
		@media @m1 {
			display:inline;
		}
	}
	.teaser & {
		order:3;
		@media @m2 {
			.flex(0;1;50%;0);
		}
	}
}

/* adjust margin for navi on other than landing page */
main {
	&:not(.teaser) {
		.main-navi {
			.vertical(margin-bottom);
			ul {
				margin-bottom:0;
			}
		}
	}
}

.site-footer {
	.vertical(padding-bottom);
	@media @m1 {
		.column-count();
		.column-gap(0);
	}
}

.sm span {
	display:inline-block;
	text-indent:-999em;
}

.in-site-footer {
	text-align:center;
	h3&, h4& {
		.vertical(margin-top);
	}
	h3& {
		&:first-child {
			margin-top:0;
		}
	}
	h3 + h4& {
		margin:0;
	}
	.sm {
		.vertical(font-size;2);
		line-height:1;
		display:inline-block;
		&:extend(.no-effect all);
	}
	@media @m1 {
		padding:0 (2*@gutWidth);
		text-align:left;
		h4&, h4& + p {
			display:inline-block;
		}
		h4& {
			padding-right:0;
		}
		h4& + p {
			padding-left:0;
		}
	}
}


// === Styles Ende === \\

// === Font Awesome === \\

@import "font-awesome.less";

/* Print-Stylesheet übernommmen aus http://html5boilerplate.com */

@media print {
	* { 
		background: transparent !important; 
		color: #444 !important; 
		text-shadow: none !important;
	}
	a, a:visited { 
		color: #444 !important; 
		text-decoration: underline; 
	}
	a:after { 
		content: " (" attr(href) ")"; 
	}
	abbr:after { 
		content: " (" attr(title) ")"; 
	}
	pre, blockquote { 
		border: 1px solid #999; 
		page-break-inside: avoid; 
	}
	thead { 
		display: table-header-group;  /* css-discuss.incutio.com/wiki/Printing_Tables */
	}
	tr, img { 
		page-break-inside: avoid; 
	}
	@page { 
		margin: 0.5cm; 
	}
	p, h2, h3 { 
		orphans: 3; widows: 3; 
	}
	h2, h3 { 
	page-break-after: avoid; 
	}
	.top-navi, .haupt-navi, .sub-navi, .site-footer {
		display:none;
	}
// Extra-Optionen für Joomla!-Templates o.ä.
//	/* Mail/Print-Buttons ausblenden */
//	.actions {
//		display:none !important;
//	}
//	/* Suchfeld ausblenden */
//	.header-search-form {
//		display:none !important;
//	}
//	/* Formulare ausblenden */
//	.foxcontainer {
//		display:none !important;
//	}
}
