<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8" />
	<title>tobias-barth.net | Moderne Webentwicklung aus Köln</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/style.css" />
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/css/old-ie.css" />
	<![endif]-->

	<link rel="alternate" type="application/rss+xml" href="/blog/feed/rss.xml" />

</head>
<body>
	<header class="site-head">
			<a href="/"><h1 class="in-site-head">tobias-barth.net</h1>
			<p class="tagline in-site-head">Moderne Webentwicklung aus Köln</p></a>
		</header>

